@model ebookSwapApllication.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LayoutLoginRegister.cshtml";
}

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        @using (Html.BeginForm("Create", "Users", FormMethod.Post))
        {
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" placeholder="Full Name" asp-for="UserFullName" name="UserFullName" required="">
            <input type="text" placeholder="UserName" asp-for="UserName" name="UserName" required="">
            <input type="email" placeholder="Email" asp-for="UserEmail" name="UserEmail" required="">
            <input type="text" placeholder="City" asp-for="UserCity" name="UserCity" required="">            
            <input type="text" placeholder="Country" asp-for="UserCountry" name="UserCountry" required="">

            <input type="text" asp-for="UserAdress" name="UserAdress" placeholder="UserAdress" />
            <input type="text" placeholder="Phone Number" asp-for="Userphonenumber" name="Userphonenumber" required="">
            <input type="password" placeholder="Password" asp-for="UserPassword" name="UserPassword" required="">
            <input asp-for="UserDateCreating" name="UserDateCreating" class="form-control" hidden value="@DateTime.Now.ToShortDateString()" />

            <button type="submit" value="Create">Sign up</button>
        }
    </div>

    <div class="login">
        <form  method="post" asp-action="Login" asp-controller="Users" name="form">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="UserName" placeholder="Username" asp-for="UserName" required="">
            <input type="password" name="UserPassword" placeholder="Password" asp-for="UserPassword" required="">
            <button type="submit" value="Login" >Login</button>
        </form>
    </div>
</div>


