@model ebookSwapApllication.Models.LoginSignupViewModel

@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <h6 class="mb-4 pb-2 pb-md-0 mb-md-5">@TempData["successMessage"]</h6>

                        <form method="post" asp-action="Signup"> 

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="text" asp-for="UserFullName" id="fullname" class="form-control form-control-lg" />
                                        <label class="form-label" for="firstName" >Full Name</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="text" id="username" asp-for="UserName" class="form-control form-control-lg" />
                                        <label class="form-label" for="lastName">Username</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <input type="text" asp-for="UserCity" class="form-control form-control-lg" id="birthdayDate" />
                                        <label for="birthdayDate" class="form-label">City </label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <input type="text" asp-for="UserCountry" class="form-control form-control-lg" id="birthdayDate" />
                                        <label for="birthdayDate" class="form-label">Country</label>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="email" id="emailAddress" asp-for="UserEmail" class="form-control form-control-lg" />
                                        <label class="form-label" for="emailAddress">Email</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="email" id="emailAddress" asp-for="UserAdress" class="form-control form-control-lg" />
                                        <label class="form-label" for="emailAddress">Adress</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="tel" id="phoneNumber" asp-for="Userphonenumber" class="form-control form-control-lg" />
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="password" id="Password" asp-for="UserPassword" class="form-control form-control-lg" />
                                        <label class="form-label" for="Password">Password</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="password" id="confirmPassword" asp-for="UserConfirmPassword" class="form-control form-control-lg" />
                                        <label class="form-label" for="Password">Confirm Password</label>
                                    </div>

                                </div>
                            </div>


                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

