@inject IHttpContextAccessor contxt
@model ebookSwapApllication.Models.Book
@{
    ViewData["Title"] = "Create";
}
@{
    @using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-9">

                    <h1 class="text-white mb-4">Apply for a job</h1>
            <form asp-action="Create" method="post" role="form">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">

                                    <h6 class="mb-0">Book Title :</h6>

                                </div>
                                <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookTitle" class="form-control form-control-lg" />

                                </div>
                            </div>
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book ISBN (OPTIONAL) :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookISBN13" class="form-control form-control-lg" />

                                    </div>
                                </div>
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book numpages (OPTIONAL) :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookNumPages" class="form-control form-control-lg" />

                                    </div>
                                </div>
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book Publication Date (OPTIONAL) :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="date" asp-for="BookPublicationDate" class="form-control form-control-lg" />

                                    </div>
                                </div>
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book Publisher (OPTIONAL) :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookPublisherID" class="form-control form-control-lg" />

                                    </div>
                                </div>

                           

                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">

                                    <h6 class="mb-0">Book Language :</h6>

                                </div>
                                <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookLanguage" class="form-control form-control-lg"  />

                                </div>
                            </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book Author :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookAuthor" class="form-control form-control-lg" />

                                    </div>
                                </div>

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Condition  :</h6>

                                    </div>


                                    <input type="text" asp-for="UserId" value="@contxt.HttpContext.Session.GetInt32("sessionKeyUserId")" class="form-control form-control-lg" hidden />
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="BookCondition" asp-for="BookCondition" value="NEW" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        NEW
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="BookCondition" asp-for="BookCondition" value="USED" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        USED
                                    </label>
                                </div>

                                   
                                </div>
                            
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book  Note :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" asp-for="BookNotes" class="form-control form-control-lg" />

                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Book category :</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <select asp-for="BookCategory" asp-items="@(new SelectList(ViewBag.Catgorylist,"Value","Text"))" class="form-control">
                                         
                                        </select>

                                    </div>
                                </div>

                            <hr class="mx-n3">

                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">

                                    <h6 class="mb-0">Book Description (OPTIONAL): </h6>

                                </div>
                                <div class="col-md-9 pe-5">

                                    <textarea class="form-control" rows="3" asp-for="BookDescription" placeholder="Description of the book from your point of view"></textarea>

                                </div>
                            </div>



                            <div class="px-5 py-4">
                                <button type="submit" class="btn btn-primary btn-lg" value="submit">Create Book</button>
                            </div>

                        </div>
                    </div>
             </form>
                </div>
            </div>
        </div>
    }
}
