@model ebookSwapApllication.Models.Book




@{
    ViewData["Title"] = "Details";
}

<div class="row">
    
        <p class="card-text"><b>Book Title: </b>@Html.DisplayNameFor(model => model.BookTitle) </p>
    <p class="card-text"><b>User Full name: </b>@Html.DisplayNameFor(model => model.User.UserFullName)</p>
    
    
   

    </div>