@using Microsoft.AspNetCore.Http
@model IEnumerable<Book>

@{
    ViewData["Title"] = "liste of Books";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<style>
    .firma-ara {
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .form-arka-plan {
        background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .acik-renk-form {
        background: rgba(255, 255, 255, 0.58);
    }

    .siyah-cerceve {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Style to hide initially and apply fade-in effect */


    .fade-in {
        opacity: 0;
        transition: opacity 0.5s ease-in-out; /* Add a transition property */
    }
</style>
<div class="row">
    <div class="container py-2 my-5">
        <div class="row text-center pb-4">
            <div class="col-md-12">
                <h2 class="text-white siyah-cerceve">Books Platform </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card fade-in acik-renk-form">
                    <div class="card-body">
                        <form id="searchForm" method="get" asp-action="Index">
                            <!-- Search input -->
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="search" value="@ViewData["getbookdetail"]" name="booksearch" class="form-control" placeholder="Search for books (any keywords)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" value="Search" class="btn btn-warning pl-5 pr-5">Search</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" asp-action="Index" asp-route-booksearch="@ViewData["getbookdetail"]">All</a>
                                    <a class="btn btn-primary" asp-action="Index" asp-route-booksearch="@ViewData["getbookdetail"]" asp-route-condition="new">New</a>
                                    <a class="btn btn-primary" asp-action="Index" asp-route-booksearch="@ViewData["getbookdetail"]" asp-route-condition="used">Used</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Displaying Book List using Partial View -->
    <div class="row" id="bookListContainer">
        @await Html.PartialAsync("_BookListPartial", Model)
    </div>
</div>

